In [1]:
import pandas as pd
import numpy as np
from datasets import load_dataset


# here i am simply importing the python libraries named - pandas , numpy and datasets.

In [2]:
from google.colab import files
uploaded = files.upload()

# this code is used here to import the csv file from the system so that i can import the data to. collab.

Saving cricket_new.csv to cricket_new.csv

In [3]:
pd.read_csv('cricket_new.csv')
# this is a basic read code in python pandas

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [4]:
df=pd.read_csv('cricket_new.csv')

#  here df contains the previous code that i created

In [5]:
df
# here i called out df which gave that tables that i saved in it .

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [6]:

# here i renamed the column names.
df.rename(columns={'NO':'Not_out','HS':'Highest_inn_score','BF':'balls_faced','SR':'balls_strike_rate','Mat':'Matches'})


# in this code i used the function called .rename and the used dictionary to change the names of the columns in the table.
# the dictionary provides the specific format that can be used to change the names.

,Player,Span,Matches,Inns,Not_out,Runs,Highest_inn_score,Ave,balls_faced,balls_strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [7]:
df.head()

# the head here returns the top of the numbers mostly the top 5.

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1

In [8]:
# ok now lets check the null values.

df.isnull().any()

# this isnull basically returns the null values.

Player    False
Span      False
Mat       False
Inns      False
NO        False
Runs      False
HS        False
Ave       False
BF        False
SR        False
100       False
50        False
0         False
4s        False
6s        False
dtype: bool

In [ ]:
# ok so now we dont have any null values if there were any the above code would have returned the true instead of false.

# there are not any but suppose there were what would i have done

# for example runs have duplicated

df['Runs']=df['Runs'].fillna(0)

In [9]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [11]:
df.duplicated()

# this is used to see if there are any duplicated in the table that i am working on.

0     False
1     False
2     False
3     False
4     False
      ...
58    False
59    False
60    False
61    False
62    False
Length: 63, dtype: bool

In [12]:
# same no duplicated we have with us
# still if we had any what would i have done.


df.drop_duplicates()

# as the name suggests the will drop all the duplicate values .

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [14]:
#This line splits the values in the ‘Span’ into two parts using the hyphen – as the seperator.

df['Span'].str.split(pat = '-')

# ok now see that format of the code .
# first i am selecting df meaning the table , then the span column and what is the span  right it's a str. so now the split will split it on the basis of the condition i am giving

0     [1928, 1948]
1     [2022, 2025]
2     [2015, 2016]
3     [1963, 1970]
4     [1930, 1954]
          ...
58    [1965, 1981]
59    [2002, 2014]
60    [1924, 1934]
61    [1930, 1938]
62    [1928, 1934]
Name: Span, Length: 63, dtype: object

In [16]:
df

# you can now see as earliere the years in the span column were seperated by a ,

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [17]:
# ok now lets assign these span year to some string

df['Rookie_Year'] = df['Span'].str.split(pat = '-').str[0]

# here i am simply creating a new column rookie year however , now see the code is almost same just at the end i have str[0].
# this means it will return the thing on the left side if it was str[1] it would have returned the thing on the right.

In [18]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Rookie_Year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6,1928
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24,2022
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1,1930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928

In [19]:
# now the same for the final year

df['Final_Year']=df['Span'].str.split(pat='-').str[1]

# same in this case a new column created and the other one (str[1]) is assigned to it .

In [20]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6,1928,1948
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24,2022,2025
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934

In [21]:
df.drop(['Span'] , axis=1)     # here i just dropped span.

# here i simply dropped the span column using some pre defined method .drop . and the axis 1 here means the column if it was axis 0 then it denotes to row.

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6,1928,1948
1,PHKD Mendis (SL),14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24,2022,2025
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981
59,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
60,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934
61,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938
62,DR Jardine (ENG),22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934

In [23]:
#. QUESTION -> Split up the Country from the player

df['Player'].str.split(pat='(')

# here i am simply splitting the data in column player by (,).

0      [DG Bradman , AUS)]
1      [PHKD Mendis , SL)]
2        [AC Voges , AUS)]
3       [RG Pollock , SA)]
4       [GA Headley , WI)]
              ...
58     [KD Walters , AUS)]
59    [GC Smith , ICC/SA)]
60    [WH Ponsford , AUS)]
61      [SJ McCabe , AUS)]
62     [DR Jardine , ENG)]
Name: Player, Length: 63, dtype: object

In [24]:
df['Country']= df['Player'].str.split(pat='(').str[1]

# here i am creating a new column country and taking data from the player column and using str[1] assigning the thing on the right side of the data to the column country.

In [25]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6,1928,1948,AUS)
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24,2022,2025,SL)
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS)
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA)
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1,1930,1954,WI)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981,AUS)
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA)
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934,AUS)
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,AUS)
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934,ENG)

In [26]:
# now checking the datatypes

df.dtypes

# this .dtypes method is used to to simply return the datatype of the column.

Player          object
Span            object
Mat              int64
Inns             int64
NO               int64
Runs             int64
HS              object
Ave            float64
BF              object
SR              object
100              int64
50               int64
0               object
4s              object
6s              object
Rookie_Year     object
Final_Year      object
Country         object
dtype: object

In [27]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6,1928,1948,AUS)
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24,2022,2025,SL)
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS)
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA)
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1,1930,1954,WI)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981,AUS)
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA)
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934,AUS)
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,AUS)
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934,ENG)

In [28]:
# ok now we can see that hs is returned as object . but it is not object
# ok before changing the dataype i can see that the hs column has some weird thing (*) which if  not removed will not let us change the datatype of the thing.
# ok what i will be doing here and in some ahead codes is  that taking the data - split the * and the seperated data using str[0] will
# send it to a new column.
df['Highest_inn_score']=df['HS'].str.split(pat='*')

In [29]:
df
# so now we can see that a new column is made for HS by the name of highest_inn_score to remove the * . but you can seee the coma in the values

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Rookie_Year,Final_Year,Country,Highest_inn_score
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6,1928,1948,AUS),[334]
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24,2022,2025,SL),"[182, ]"
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS),"[269, ]"
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA),[274]
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1,1930,1954,WI),"[270, ]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981,AUS),[250]
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA),[277]
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934,AUS),[266]
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,AUS),[232]
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934,ENG),[127]

In [32]:
# to remove that , in the new column will use str[0]
df['Highest_inn_score']=df['HS'].str.split(pat='*').str[0]

# look here what i splitted i used to make the column highest_inn _score.

In [33]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Rookie_Year,Final_Year,Country,Highest_inn_score
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6,1928,1948,AUS),334
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24,2022,2025,SL),182
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS),269
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA),274
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1,1930,1954,WI),270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981,AUS),250
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA),277
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934,AUS),266
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,AUS),232
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934,ENG),127

In [34]:
#so now i will drop the HS
df.drop(['HS'],axis=1)

# now as i have taken out what i needed from the HS . so now i wll drop it using method .drop

,Player,Span,Mat,Inns,NO,Runs,Ave,BF,SR,100,50,0,4s,6s,Rookie_Year,Final_Year,Country,Highest_inn_score
0,DG Bradman (AUS),1928-1948,52,80,10,6996,99.94,9800+,58.6,29,13,7,626+,6,1928,1948,AUS),334
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,62.66,2063,63.79,5,5,-,137,24,2022,2025,SL),182
2,AC Voges (AUS),2015-2016,20,31,7,1485,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS),269
3,RG Pollock (SA),1963-1970,23,41,4,2256,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA),274
4,GA Headley (WI),1930-1954,22,40,4,2190,60.83,416+,56,10,5,2,104+,1,1930,1954,WI),270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,48.26,8662+,49.16,15,33,4,525+,23,1965,1981,AUS),250
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA),277
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,48.22,3118+,44.77,7,6,1,119+,0,1924,1934,AUS),266
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,AUS),232
62,DR Jardine (ENG),1928-1934,22,33,6,1296,48.00,2110+,25.59,1,10,2,53+,0,1928,1934,ENG),127

In [35]:
df.dtypes

Player                object
Span                  object
Mat                    int64
Inns                   int64
NO                     int64
Runs                   int64
HS                    object
Ave                  float64
BF                    object
SR                    object
100                    int64
50                     int64
0                     object
4s                    object
6s                    object
Rookie_Year           object
Final_Year            object
Country               object
Highest_inn_score     object
dtype: object

In [36]:
# so now lets convert the newly built columns rookie and final year to integer.
df=df.astype({'Rookie_Year':'int','Final_Year':'int'})

# this astype method is used to convert the data type of one or more column .

In [37]:
df.dtypes

Player                object
Span                  object
Mat                    int64
Inns                   int64
NO                     int64
Runs                   int64
HS                    object
Ave                  float64
BF                    object
SR                    object
100                    int64
50                     int64
0                     object
4s                    object
6s                    object
Rookie_Year            int64
Final_Year             int64
Country               object
Highest_inn_score     object
dtype: object

In [38]:
# now going to do the same for balls faced

df['BF']

# ok now i can see that there is a plus sign . we. can simply remove this by using the split function

0     9800+
1      2063
2      2667
3     1707+
4      416+
      ...
58    8662+
59    15525
60    3118+
61    3217+
62    2110+
Name: BF, Length: 63, dtype: object

In [39]:
df['BF']=df['BF'].str.split(pat='+').str[0]

In [40]:
df
# look now there is no + sign in Bf( balls faced )
# now i will convert this into the integer data type

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Rookie_Year,Final_Year,Country,Highest_inn_score
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800,58.6,29,13,7,626+,6,1928,1948,AUS),334
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24,2022,2025,SL),182
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS),269
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246+,11,1963,1970,SA),274
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416,56,10,5,2,104+,1,1930,1954,WI),270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525+,23,1965,1981,AUS),250
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA),277
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119+,0,1924,1934,AUS),266
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241+,5+,1930,1938,AUS),232
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53+,0,1928,1934,ENG),127

In [42]:
df['BF']=df['BF'].astype('int')

# this code is correct there is some error with the excel so i will remove the fs jackson row

ValueError: invalid literal for int() with base 10: '-'

In [43]:
# removing index 8,14,55 from axis=0
df=df.drop([8,14,55])

In [44]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Rookie_Year,Final_Year,Country,Highest_inn_score
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800,58.6,29,13,7,626+,6,1928,1948,AUS),334
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24,2022,2025,SL),182
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS),269
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246+,11,1963,1970,SA),274
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416,56,10,5,2,104+,1,1930,1954,WI),270
5,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202+,6,1924,1935,ENG),194
6,E Paynter (ENG),1931-1939,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125+,4,1931,1939,ENG),243
7,KF Barrington (ENG),1955-1968,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591+,27,1955,1968,ENG),256
9,WR Hammond (ENG),1927-1947,85,140,16,7249,336*,58.45,7491,38.07,22,24,4,419+,27,1927,1947,ENG),336
10,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063,53.58,26,30,12,593+,32+,1954,1974,WI),365
11,HC Brook (ENG),2022-2025,30,50,1,2820,317,57.55,3222,87.52,10,13,3,308,47,2022,2025,ENG),317
12,KC Sangakkara (SL),2000-2015,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL),319
13,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276+,8,1908,1930,ENG),211
15,L Hutton (ENG),1937-1955,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358+,7,1937,1955,ENG),364
16,SPD Smith (AUS),2010-2025,119,212,25,10477,239,56.02,19517,53.68,36,43,11,1143,62,2010,2025,AUS),239
17,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA),224
18,GE Tyldesley (ENG),1921-1929,14,20,2,990,122,55.00,178,29.21,3,6,2,37+,2,1921,1929,ENG),122
19,KS Williamson (NZ),2010-2024,105,186,17,9276,251,54.88,17913,51.78,33,37,11,1031,27,2010,2024,NZ),251
20,CA Davis (WI),1968-1973,15,29,5,1301,183,54.20,665,35.48,4,4,1,65+,1,1968,1973,WI),183
21,VG Kambli (IND),1993-1995,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND),227
22,GS Chappell (AUS),1970-1984,87,151,19,7110,247*,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS),247
23,AD Nourse (SA),1935-1951,34,62,7,2960,231,53.81,108,63.88,9,14,3,115+,6,1935,1951,SA),231
24,SR Tendulkar (IND),1989-2013,200,329,33,15921,248*,53.78,29437,54.04,51,68,14,2058+,69,1989,2013,IND),248
25,BC Lara (ICC/WI),1990-2006,131,232,6,11953,400*,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI),400
26,Javed Miandad (PAK),1976-1993,124,189,21,8832,280*,52.57,15164,45.99,23,43,6,788+,48,1976,1993,PAK),280
27,R Dravid (ICC/IND),1996-2012,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND),270
28,Mohammad Yousuf (PAK),1998-2010,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK),223
29,Younis Khan (PAK),2000-2017,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK),313
30,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS),257
31,J Ryder (AUS),1920-1929,20,32,5,1394,201*,51.62,2035,44.86,3,9,1,102+,3,1920,1929,AUS),201
32,A Flower (ZIM),1992-2002,63,112,19,4794,232*,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM),232
33,MEK Hussey (AUS),2005-2013,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS),195
34,S Chanderpaul (WI),1994-2015,164,280,49,11867,203*,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI),203
35,JE Root (ENG),2012-2025,158,288,24,13543,262,51.29,23556,57.49,39,66,13,1451,45,2012,2025,ENG),262
36,SM Gavaskar (IND),1971-1987,125,214,16,10122,236*,51.12,14184,43.35,34,45,12,908+,26,1971,1987,IND),236
37,SR Waugh (AUS),1985-2004,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS),200
38,ML Hayden (AUS),1994-2009,103,184,14,8625,380,50.73,14349,60.1,30,29,14,1049,82,1994,2009,AUS),380
39,AB de Villiers (SA),2004-2018,114,191,18,8765,278*,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA),278
40,AR Border (AUS),1978-1994,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS),205
41,Saud Shakeel (PAK),2022-2025,19,36,3,1658,208*,50.24,3345,49.56,4,9,2,165,2,2022,2025,PAK),208
42,IVA Richards (WI),1974-1991,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952+,84,1974,1991,WI),291
43,YBK Jaiswal (IND),2023-2025,24,46,2,2209,214*,50.20,3336,66.21,6,12,5,270,43,2023,2025,IND),214
44,DCS Compton (ENG),1937-1957,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342+,3,1937,1957,ENG),278
45,DPMD Jayawardene (SL),1997-2014,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL),374
46,Inzamam-ul-Haq (ICC/PAK),1992-2007,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK),329
47,FMM Worrell (WI),1948-1963,51,87,9,3860,261,49.48,488,40.16,9,22,11,240+,11,1948,1963,WI),261
48,CP Mead (ENG),1911-1928,17,26,2,1185,182*,49.37,619,30.04,4,3,3,38+,0,1911,1928,ENG),182
49,V Sehwag (ICC/IND),2001-2013,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,ICC/IND),319
50,Abid Ali (PAK),2019-2021,16,26,2,1180,215*,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK),215
51,MJ Clarke (AUS),2004-2015,115,198,22,8643,329*,49.10,15456,55.92,28,27,9,978,39,2004,2015,AUS),329
52,KC Bland (SA),1961-1966,21,39,5,1669,144*,49.08,885,37.74,3,9,2,123+,20,1961,1966,SA),144
53,B Mitchell (SA),1929-1949,42,80,9,3471,189*,48.88,158,29.11,8,21,3,41+,1,1929,1949,SA),189
54,JL Smith (ENG),2024-2025,15,25,3,1075,184*,48.86,1429,75.22,2,6,-,111,26,2024,2025,ENG),184
56,TT Samaraweera (SL),2001-2013,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL),231
57,RN Harvey (AUS),1948-1963,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427+,1,1948,1963,AUS),205
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525+,23,1965,1981,AUS),250
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA),277
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119+,0,1924,1934,AUS),266
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241+,5+,1930,1938,AUS),232
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53+,0,1928,1934,ENG),127

In [45]:
df['BF']=df['BF'].astype('int')

In [46]:
df.dtypes
# done first  i removed the null one than separeted + and the n changed the data type

Player                object
Span                  object
Mat                    int64
Inns                   int64
NO                     int64
Runs                   int64
HS                    object
Ave                  float64
BF                     int64
SR                    object
100                    int64
50                     int64
0                     object
4s                    object
6s                    object
Rookie_Year            int64
Final_Year             int64
Country               object
Highest_inn_score     object
dtype: object

In [47]:
# ok now lets change the datatype of SR

df['SR']=df['SR'].astype('float')

In [48]:
df.dtypes

Player                object
Span                  object
Mat                    int64
Inns                   int64
NO                     int64
Runs                   int64
HS                    object
Ave                  float64
BF                     int64
SR                   float64
100                    int64
50                     int64
0                     object
4s                    object
6s                    object
Rookie_Year            int64
Final_Year             int64
Country               object
Highest_inn_score     object
dtype: object

In [49]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Rookie_Year,Final_Year,Country,Highest_inn_score
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626+,6,1928,1948,AUS),334
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24,2022,2025,SL),182
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS),269
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246+,11,1963,1970,SA),274
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416,56.00,10,5,2,104+,1,1930,1954,WI),270
5,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202+,6,1924,1935,ENG),194
6,E Paynter (ENG),1931-1939,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125+,4,1931,1939,ENG),243
7,KF Barrington (ENG),1955-1968,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591+,27,1955,1968,ENG),256
9,WR Hammond (ENG),1927-1947,85,140,16,7249,336*,58.45,7491,38.07,22,24,4,419+,27,1927,1947,ENG),336
10,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063,53.58,26,30,12,593+,32+,1954,1974,WI),365
11,HC Brook (ENG),2022-2025,30,50,1,2820,317,57.55,3222,87.52,10,13,3,308,47,2022,2025,ENG),317
12,KC Sangakkara (SL),2000-2015,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL),319
13,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276+,8,1908,1930,ENG),211
15,L Hutton (ENG),1937-1955,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358+,7,1937,1955,ENG),364
16,SPD Smith (AUS),2010-2025,119,212,25,10477,239,56.02,19517,53.68,36,43,11,1143,62,2010,2025,AUS),239
17,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA),224
18,GE Tyldesley (ENG),1921-1929,14,20,2,990,122,55.00,178,29.21,3,6,2,37+,2,1921,1929,ENG),122
19,KS Williamson (NZ),2010-2024,105,186,17,9276,251,54.88,17913,51.78,33,37,11,1031,27,2010,2024,NZ),251
20,CA Davis (WI),1968-1973,15,29,5,1301,183,54.20,665,35.48,4,4,1,65+,1,1968,1973,WI),183
21,VG Kambli (IND),1993-1995,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND),227
22,GS Chappell (AUS),1970-1984,87,151,19,7110,247*,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS),247
23,AD Nourse (SA),1935-1951,34,62,7,2960,231,53.81,108,63.88,9,14,3,115+,6,1935,1951,SA),231
24,SR Tendulkar (IND),1989-2013,200,329,33,15921,248*,53.78,29437,54.04,51,68,14,2058+,69,1989,2013,IND),248
25,BC Lara (ICC/WI),1990-2006,131,232,6,11953,400*,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI),400
26,Javed Miandad (PAK),1976-1993,124,189,21,8832,280*,52.57,15164,45.99,23,43,6,788+,48,1976,1993,PAK),280
27,R Dravid (ICC/IND),1996-2012,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND),270
28,Mohammad Yousuf (PAK),1998-2010,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK),223
29,Younis Khan (PAK),2000-2017,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK),313
30,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS),257
31,J Ryder (AUS),1920-1929,20,32,5,1394,201*,51.62,2035,44.86,3,9,1,102+,3,1920,1929,AUS),201
32,A Flower (ZIM),1992-2002,63,112,19,4794,232*,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM),232
33,MEK Hussey (AUS),2005-2013,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS),195
34,S Chanderpaul (WI),1994-2015,164,280,49,11867,203*,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI),203
35,JE Root (ENG),2012-2025,158,288,24,13543,262,51.29,23556,57.49,39,66,13,1451,45,2012,2025,ENG),262
36,SM Gavaskar (IND),1971-1987,125,214,16,10122,236*,51.12,14184,43.35,34,45,12,908+,26,1971,1987,IND),236
37,SR Waugh (AUS),1985-2004,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS),200
38,ML Hayden (AUS),1994-2009,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,AUS),380
39,AB de Villiers (SA),2004-2018,114,191,18,8765,278*,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA),278
40,AR Border (AUS),1978-1994,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS),205
41,Saud Shakeel (PAK),2022-2025,19,36,3,1658,208*,50.24,3345,49.56,4,9,2,165,2,2022,2025,PAK),208
42,IVA Richards (WI),1974-1991,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952+,84,1974,1991,WI),291
43,YBK Jaiswal (IND),2023-2025,24,46,2,2209,214*,50.20,3336,66.21,6,12,5,270,43,2023,2025,IND),214
44,DCS Compton (ENG),1937-1957,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342+,3,1937,1957,ENG),278
45,DPMD Jayawardene (SL),1997-2014,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL),374
46,Inzamam-ul-Haq (ICC/PAK),1992-2007,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK),329
47,FMM Worrell (WI),1948-1963,51,87,9,3860,261,49.48,488,40.16,9,22,11,240+,11,1948,1963,WI),261
48,CP Mead (ENG),1911-1928,17,26,2,1185,182*,49.37,619,30.04,4,3,3,38+,0,1911,1928,ENG),182
49,V Sehwag (ICC/IND),2001-2013,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,ICC/IND),319
50,Abid Ali (PAK),2019-2021,16,26,2,1180,215*,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK),215
51,MJ Clarke (AUS),2004-2015,115,198,22,8643,329*,49.10,15456,55.92,28,27,9,978,39,2004,2015,AUS),329
52,KC Bland (SA),1961-1966,21,39,5,1669,144*,49.08,885,37.74,3,9,2,123+,20,1961,1966,SA),144
53,B Mitchell (SA),1929-1949,42,80,9,3471,189*,48.88,158,29.11,8,21,3,41+,1,1929,1949,SA),189
54,JL Smith (ENG),2024-2025,15,25,3,1075,184*,48.86,1429,75.22,2,6,-,111,26,2024,2025,ENG),184
56,TT Samaraweera (SL),2001-2013,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL),231
57,RN Harvey (AUS),1948-1963,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427+,1,1948,1963,AUS),205
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525+,23,1965,1981,AUS),250
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA),277
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119+,0,1924,1934,AUS),266
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241+,5+,1930,1938,AUS),232
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53+,0,1928,1934,ENG),127

In [50]:
# question - build out career_length column
# hint convert rookie/ final year and substract

df['carrer_length']=df['Final_Year']-df['Rookie_Year']

In [51]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Rookie_Year,Final_Year,Country,Highest_inn_score,carrer_length
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626+,6,1928,1948,AUS),334,20
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,-,137,24,2022,2025,SL),182,3
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS),269,1
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246+,11,1963,1970,SA),274,7
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416,56.00,10,5,2,104+,1,1930,1954,WI),270,24
5,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202+,6,1924,1935,ENG),194,11
6,E Paynter (ENG),1931-1939,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125+,4,1931,1939,ENG),243,8
7,KF Barrington (ENG),1955-1968,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591+,27,1955,1968,ENG),256,13
9,WR Hammond (ENG),1927-1947,85,140,16,7249,336*,58.45,7491,38.07,22,24,4,419+,27,1927,1947,ENG),336,20
10,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063,53.58,26,30,12,593+,32+,1954,1974,WI),365,20
11,HC Brook (ENG),2022-2025,30,50,1,2820,317,57.55,3222,87.52,10,13,3,308,47,2022,2025,ENG),317,3
12,KC Sangakkara (SL),2000-2015,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL),319,15
13,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276+,8,1908,1930,ENG),211,22
15,L Hutton (ENG),1937-1955,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358+,7,1937,1955,ENG),364,18
16,SPD Smith (AUS),2010-2025,119,212,25,10477,239,56.02,19517,53.68,36,43,11,1143,62,2010,2025,AUS),239,15
17,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA),224,18
18,GE Tyldesley (ENG),1921-1929,14,20,2,990,122,55.00,178,29.21,3,6,2,37+,2,1921,1929,ENG),122,8
19,KS Williamson (NZ),2010-2024,105,186,17,9276,251,54.88,17913,51.78,33,37,11,1031,27,2010,2024,NZ),251,14
20,CA Davis (WI),1968-1973,15,29,5,1301,183,54.20,665,35.48,4,4,1,65+,1,1968,1973,WI),183,5
21,VG Kambli (IND),1993-1995,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND),227,2
22,GS Chappell (AUS),1970-1984,87,151,19,7110,247*,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS),247,14
23,AD Nourse (SA),1935-1951,34,62,7,2960,231,53.81,108,63.88,9,14,3,115+,6,1935,1951,SA),231,16
24,SR Tendulkar (IND),1989-2013,200,329,33,15921,248*,53.78,29437,54.04,51,68,14,2058+,69,1989,2013,IND),248,24
25,BC Lara (ICC/WI),1990-2006,131,232,6,11953,400*,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI),400,16
26,Javed Miandad (PAK),1976-1993,124,189,21,8832,280*,52.57,15164,45.99,23,43,6,788+,48,1976,1993,PAK),280,17
27,R Dravid (ICC/IND),1996-2012,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND),270,16
28,Mohammad Yousuf (PAK),1998-2010,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK),223,12
29,Younis Khan (PAK),2000-2017,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK),313,17
30,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS),257,17
31,J Ryder (AUS),1920-1929,20,32,5,1394,201*,51.62,2035,44.86,3,9,1,102+,3,1920,1929,AUS),201,9
32,A Flower (ZIM),1992-2002,63,112,19,4794,232*,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM),232,10
33,MEK Hussey (AUS),2005-2013,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS),195,8
34,S Chanderpaul (WI),1994-2015,164,280,49,11867,203*,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI),203,21
35,JE Root (ENG),2012-2025,158,288,24,13543,262,51.29,23556,57.49,39,66,13,1451,45,2012,2025,ENG),262,13
36,SM Gavaskar (IND),1971-1987,125,214,16,10122,236*,51.12,14184,43.35,34,45,12,908+,26,1971,1987,IND),236,16
37,SR Waugh (AUS),1985-2004,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS),200,19
38,ML Hayden (AUS),1994-2009,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,AUS),380,15
39,AB de Villiers (SA),2004-2018,114,191,18,8765,278*,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA),278,14
40,AR Border (AUS),1978-1994,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS),205,16
41,Saud Shakeel (PAK),2022-2025,19,36,3,1658,208*,50.24,3345,49.56,4,9,2,165,2,2022,2025,PAK),208,3
42,IVA Richards (WI),1974-1991,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952+,84,1974,1991,WI),291,17
43,YBK Jaiswal (IND),2023-2025,24,46,2,2209,214*,50.20,3336,66.21,6,12,5,270,43,2023,2025,IND),214,2
44,DCS Compton (ENG),1937-1957,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342+,3,1937,1957,ENG),278,20
45,DPMD Jayawardene (SL),1997-2014,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL),374,17
46,Inzamam-ul-Haq (ICC/PAK),1992-2007,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK),329,15
47,FMM Worrell (WI),1948-1963,51,87,9,3860,261,49.48,488,40.16,9,22,11,240+,11,1948,1963,WI),261,15
48,CP Mead (ENG),1911-1928,17,26,2,1185,182*,49.37,619,30.04,4,3,3,38+,0,1911,1928,ENG),182,17
49,V Sehwag (ICC/IND),2001-2013,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,ICC/IND),319,12
50,Abid Ali (PAK),2019-2021,16,26,2,1180,215*,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK),215,2
51,MJ Clarke (AUS),2004-2015,115,198,22,8643,329*,49.10,15456,55.92,28,27,9,978,39,2004,2015,AUS),329,11
52,KC Bland (SA),1961-1966,21,39,5,1669,144*,49.08,885,37.74,3,9,2,123+,20,1961,1966,SA),144,5
53,B Mitchell (SA),1929-1949,42,80,9,3471,189*,48.88,158,29.11,8,21,3,41+,1,1929,1949,SA),189,20
54,JL Smith (ENG),2024-2025,15,25,3,1075,184*,48.86,1429,75.22,2,6,-,111,26,2024,2025,ENG),184,1
56,TT Samaraweera (SL),2001-2013,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL),231,12
57,RN Harvey (AUS),1948-1963,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427+,1,1948,1963,AUS),205,15
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525+,23,1965,1981,AUS),250,16
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA),277,12
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119+,0,1924,1934,AUS),266,10
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241+,5+,1930,1938,AUS),232,8
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53+,0,1928,1934,ENG),127,6

In [52]:
# question - calculate cricketer in this data frame what is the average career length

df['carrer_length'].mean()

# this .mean method simply calculates the mean of the career_length.

np.float64(12.883333333333333)

In [53]:
# question - avg SR for cricketers who player over 10 years
df[df['carrer_length']>10]['SR'].mean()

np.float64(50.1370731707317)

In [54]:
# question - find number of cricketers who played before 1960.

df[df['Rookie_Year' ]< 1960]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Rookie_Year,Final_Year,Country,Highest_inn_score,carrer_length
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626+,6,1928,1948,AUS),334,20
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416,56.00,10,5,2,104+,1,1930,1954,WI),270,24
5,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202+,6,1924,1935,ENG),194,11
6,E Paynter (ENG),1931-1939,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125+,4,1931,1939,ENG),243,8
7,KF Barrington (ENG),1955-1968,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591+,27,1955,1968,ENG),256,13
9,WR Hammond (ENG),1927-1947,85,140,16,7249,336*,58.45,7491,38.07,22,24,4,419+,27,1927,1947,ENG),336,20
10,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063,53.58,26,30,12,593+,32+,1954,1974,WI),365,20
13,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276+,8,1908,1930,ENG),211,22
15,L Hutton (ENG),1937-1955,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358+,7,1937,1955,ENG),364,18
18,GE Tyldesley (ENG),1921-1929,14,20,2,990,122,55.00,178,29.21,3,6,2,37+,2,1921,1929,ENG),122,8
23,AD Nourse (SA),1935-1951,34,62,7,2960,231,53.81,108,63.88,9,14,3,115+,6,1935,1951,SA),231,16
31,J Ryder (AUS),1920-1929,20,32,5,1394,201*,51.62,2035,44.86,3,9,1,102+,3,1920,1929,AUS),201,9
44,DCS Compton (ENG),1937-1957,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342+,3,1937,1957,ENG),278,20
47,FMM Worrell (WI),1948-1963,51,87,9,3860,261,49.48,488,40.16,9,22,11,240+,11,1948,1963,WI),261,15
48,CP Mead (ENG),1911-1928,17,26,2,1185,182*,49.37,619,30.04,4,3,3,38+,0,1911,1928,ENG),182,17
53,B Mitchell (SA),1929-1949,42,80,9,3471,189*,48.88,158,29.11,8,21,3,41+,1,1929,1949,SA),189,20
57,RN Harvey (AUS),1948-1963,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427+,1,1948,1963,AUS),205,15
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119+,0,1924,1934,AUS),266,10
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241+,5+,1930,1938,AUS),232,8
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53+,0,1928,1934,ENG),127,6

In [55]:
# question - max highest inns score by country.

df.groupby('Country')['Highest_inn_score'].max()

# OK JUST  simply read the question it is pretty evident that we need 2 columns one for country second for the score .
# now i will use the .groupby method to group these 2 columns and the .max method to find the maximum highest score country.

Country
AUS)        380
ENG)        364
ICC/IND)    319
ICC/PAK)    329
ICC/SA)     277
ICC/WI)     400
IND)        248
NZ)         251
PAK)        313
SA)         278
SL)         374
WI)         365
ZIM)        232
Name: Highest_inn_score, dtype: object

In [56]:
# question - hundreds,fifties ,ducks (0) AVG by country.
df.groupby('Country')[['100','50']].mean()

# for taking out of 0 first convert the object data type to int and then you can take out the mean.

                100         50
Country
AUS)      21.533333  29.066667
ENG)      13.230769  21.692308
ICC/IND)  29.500000  47.500000
ICC/PAK)  25.000000  46.000000
ICC/SA)   36.000000  48.000000
ICC/WI)   34.000000  48.000000
IND)      23.750000  32.000000
NZ)       33.000000  37.000000
PAK)      17.800000  24.200000
SA)        9.800000  20.200000
SL)       22.750000  34.250000
WI)       17.166667  28.666667
ZIM)      12.000000  27.000000

In [57]:
df.dtypes

Player                object
Span                  object
Mat                    int64
Inns                   int64
NO                     int64
Runs                   int64
HS                    object
Ave                  float64
BF                     int64
SR                   float64
100                    int64
50                     int64
0                     object
4s                    object
6s                    object
Rookie_Year            int64
Final_Year             int64
Country               object
Highest_inn_score     object
carrer_length          int64
dtype: object